extends home

block append head


block content
  main.main
    each user in users
      section.section-usdel
        .usdel
          img.cta__img.usdel__img--1(src=`/images/users/${user.avatar}` alt='${user.name')
          .cta__content
            h5.heading-usdel= user.name
            p.heading-usdel= `Role: ${user.role}`
            button.btn.btn--delete.span-all-rows#usdel(data-user-id=`${user.id}`) DELETE!

