extends home

block content
  main.main


      each user in users
        .container.mt-3.mb-4
          .col-lg-9.mt-4.mt-lg-0
            .row
              .col-md-12
                .user-dashboard-info-box.table-responsive.mb-0.bg-white.p-4.shadow-sm
                  table.table.manage-candidates-top.mb-0
                    thead
                      tr
                        th.action.text-right
                    tbody
                      tr.candidates-list
                        td.title
                          .thumb
                            img.img-fluid(src=`/images/users/${user.avatar}` alt='${user.name')
                          .candidate-list-details
                            .candidate-list-info
                              .candidate-list-title
                                h1.mb-0
                                  a(href='#')= user.name
                            .candidate-list-option
                                ul.list-unstyled
                                  li
                                    i.fas.fa-filter.pr-1
                                      p=user.role
                        td
                          ul.list-unstyled.mb-0.d-flex.justify-content-end
                            button.btn.btn--blue.span-all-rows#user-data(data-user-id=`${user.id}`) DELETE!

                            